<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header" ng-show="title">
        <button type="button"
                    class="close"
                    ng-click="$hide()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Add Your Look</h4>
      </div>

  <div class="modal-body"
          ng-show="scrapePostForm">
    <form ng-submit="addScrapePost()"
              style="margin-top:30px">
      <h3>Find a Look</h3>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Title"
                  ng-model="look.title">
      </div>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Link URL (Pinterest)"
                  ng-model="look.link"
                  ng-disabled="gotScrapeResults">
      </div>

      <div class="spinner"
             ng-show="loading">
        <img src="assets/images/spinner.gif">
      </div>

    <div class="col-md-6" id="alertContainer"></div>

  <div class="listing-details"
          ng-show="showScrapeDetails">
        <div class="form-group">
          <div class="row listing-description-row">
            <label for="description"
                      class="col-xs-12">Description</label></div>
            <textarea class="form-control"
                           rows="3"
                           ng-model="look.description">
                    </textarea>
              </div>

           <div class="form-group">
             <div class="listing-image">
                <img src="{{look.imgThumb}}"
                        class="img img-thumbnail img-responsive">
              </div>
             </div>
      <button type="submit"
                  class="btn btn-primary">Submit</button>
      <button type="button"
                  class="btn btn-default"
                  ng-click="$hide()">Cancel</button>
      </div>
    </div>
  </form>

        <div class="modal-footer close-btn-main">
        <button type="button"
                    class="btn btn-default pull-left"
                    ng-click="$hide()">Close</button>
                    </div>

      </div>
    </div>
  </div>